global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'microservices'
    static_configs:
      - targets: ['host.docker.internal:3001', 'host.docker.internal:3002', 'host.docker.internal:3003', 'host.docker.internal:3004']
